 * { 
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 body{
    background-color: #344a72;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    line-height: 1.8;
}
a{
    text-decoration: none;
}
#container{
   max-width: 450px;
   height: auto;
   margin: 0 auto;
   margin-top: 20px;
   padding: 20px;
}
.form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
    border-radius: 3px;
}

.formtitle h1, p {
    text-align:center;
    color: #333;
}
.formtitle p{
    font-size: 19px;
}

.form-wrap .form-item{
    margin-top: 15px;
}
.form-wrap .form-item label{
    display: block;
    font-size: 20px;
    color: rgb(150, 150, 150);
}
.form-wrap .form-item input{
    display: block;
    width: 100%;
    border: #ddd 1px solid;
    border-radius: 2px;
    padding: 10px;
}
.form-wrap .btn{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-wrap button:hover {
    background: #37a08e;
}
.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}

.bottom-text a {
    color: blue;
}
.footer{
    text-align: center;
}
/* .form-wrap .botton-text{
font-weight: smaller;
} */
.footer p a {
    color: rgb(100, 196, 182);
}

.footer p {
    color: #fff;
}
